*{
    padding : 0;
    margin: 0;
    font-family: Helvetica;
}
a {
    text-decoration: none;
    color : inherit;
}
img{
    width : 100%;
}
.container {
    width : 80%;
    margin : 0 auto;
}
header {
    border-bottom: 1px solid rgba(0,0,0,0.05);
    box-shadow: 1px 2px 3px #ddd;
    background-color: #fff;
    width : 100%;    
    display: flex;
    z-index: 100;
    flex-direction: row;
    padding-bottom: 2px;
    max-height: 65px;
    box-sizing: border-box;
}
.container {
    width : 80%;
    margin : 0 auto;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .container .item{
    padding : 20px 20px;
    color : #333;
    cursor : pointer;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    box-sizing : border-box;
    transition: all 0.2s ease-out;
}
header .container .item.social{
    padding : 20px 15px;
}
header .container .item.logo{
    margin-right: 50px;
}
header .container .item.social:hover{
    /*color : rgba(100,100,100,0.4);*/
    color : rgba(247, 76, 76, 1);
    border-bottom: 2px solid transparent;
}
header .container .item:hover {
    border-bottom: 2px solid rgba(247, 76, 76, 0.3);
    color: rgba(247, 76, 76, 0.8);
}
header .container .item.logo:hover{
    border-bottom: 2px solid transparent;
}
header .container .item-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}
.toggle-d{
    display: none;
}
.btn{
    padding : 10px 15px;
    background-color: #fff;
    border : 2px solid rgba(100,100,100,0.2);
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}
.btn-toggle {
    border : 2px solid transparent;
    font-weight: bold;
    transition: all 0.2s ease-out;
}
.btn-toggle:hover {
    color: rgba(247, 76, 76, 0.8);
}

.slider {
    max-height:400px;
    overflow-y: hidden;
}
.content{
    top: 65px;
    width : 100%;
    background-color : rgba(100,100,100,0.1);
    position: absolute;
    width : 100%;
}
.content-data{
    width:100%;
    background-color : #fff;
    display: block;
    /*box-sizing: border-box;*/
    padding: 50px 0;
}
.content-data h1{
    color : #333;
    font-weight: lighter;
    margin-bottom: 20px;
}
@media(max-width: 768px){
    .container {
        width :85%;
        margin:0 auto;
    }
    .toggle.hidden{
        display: none;
    }
    .toggle-d{
        display: block;
    }
    nav.mobile {
        top : 65px;
        position: fixed;
        width : 250px;
        left: 0;
        z-index : 99;
        background-color: #fff;
        font-size: 13px;
        font-weight: bold;
        border-left : 1px solid rgba(100,100,100,0.2);
        border-right : 1px solid rgba(100,100,100,0.2);
        height: 100%;
        display: block !important;
        transition: all 0.2s ease-out;
        overflow-y: auto;
    }
    nav.mobile .item{
        padding : 0.8em 1.2em;
        display: block;
        border : none !important;
    }
    nav.mobile .item .item:hover{
        color: rgba(247, 76, 76, 0.8);
    }
    nav.mobile .mobile-header{
        color : #000;
        display: block !important;
    }
    nav.mobile .item-right .social{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        margin : 0 auto;
    }
    nav.mobile .item-right{
        width : 85%;
        margin : 0 auto;
    }
    nav.mobile .item.social{
        color : #333;
    }
    nav.mobile .item.social:hover{
        color: rgba(247, 76, 76, 0.9);
    }
    .left {
        left:0;
        margin-left:-250px;
    }
    .visible {
        margin : 0;
    }
}
